{% extends "layouts/main_layout.html" %}
{% block mainContent %}
{#here html code for a search bar with action /search #}
<form id="search" action="/search">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="txtArea" placeholder="search for a Location" aria-label="Location" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" href="/search" id="button-addon2" type="submit">Forecast</button>
        </div>
    </div>
</form>
{% endblock %}
{% block scriptZone %}
<script>
    $(document).ready(function (ev) {

        // --- for each tag that has "btn" class
        $('.btn-outline-secondary').on('click', function (ev) {

            ev.preventDefault();
            ev.stopPropagation();

            var location = document.getElementById("txtArea").value;
            // --- obj FormData
            var formData = new FormData();
            // --- append value
            formData.append("location",location);

            var request = new XMLHttpRequest();
            request.open('POST', '/search');
            request.send(formData);

            console.log(location);

        });

    });

</script>
{% endblock %}